<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>home</title>

    <script>
        
        const token_validator = async(token) =>{
            const response = await fetch("/auth/validator", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    Authorization: `Bearer ${token}`,
                },
                
            });
            if (response.status>=400){
                alert("invalid token")
                window.location.href = "/auth/login"
                
            } 
            
        }
        
        const token = localStorage.getItem("jwt-token")
        if(token == null){
            alert("User not logged")
            window.location.href = "/auth/login"; 
        } 
        token_validator(token)
        
    </script>

</head>
 
 
<body style="background-color: gray;">
    <h1>Home</h1>
    
    
    <button class="btn" onclick="img_uploadinator()">Img upload</button>
    <button class="btn" onclick="singinator()">signup</button>
    
    <button class="btn" onclick="logoutinator()">Back to login</button>
    <script>
        const logoutinator = () =>{
            
            localStorage.clear()
            window.location.href = "/auth/login"; 
        }
        const singinator = () =>{
            window.location.href = "/auth/signup";
        }

        const img_uploadinator = () => {
            window.location.href = "/auth/img";
        }
      
    </script>
</body>
 
</html>